<div class="register-wrapper">
	<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="register-form">
		<div class="error-box" *ngIf="showError"> Coś poszło nie tak. Spróbuj ponownie później. </div>
		<div class="mb-3">
			<label for="email" class="form-label">Email</label>
			<input type="email" class="form-control" id="email" formControlName="email" />
			<div *ngIf="
          registrationForm.get('email')?.hasError('required') &&
          registrationForm.get('email')?.touched
        " class="text-danger"> Email jest wymagany </div>
			<div *ngIf="
          registrationForm.get('email')?.hasError('email') &&
          registrationForm.get('email')?.touched
        " class="text-danger"> Podano zły format emaila </div>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Hasło</label>
			<div class="input-group">
				<input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" formControlName="password" (blur)="togglePasswordVisibility(false)" />
				<button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility(!showPassword)">
					<i class="bi" [class.bi-eye]="showPassword" [class.bi-eye-slash]="!showPassword"></i>
				</button>
			</div>
			<div *ngIf="
          registrationForm.get('password')?.hasError('required') &&
          registrationForm.get('password')?.touched
        " class="text-danger"> Hasło jest wymagane </div>
			<div *ngIf="
          registrationForm.get('password')?.hasError('pattern') &&
          registrationForm.get('password')?.touched
        " class="text-danger"> Hasło powinno być długie na 8 znaków. Powinno mieć przynajmniej 1 cyfrę, 1 wielką literę, 1 małą literę i 1 znak specjalny. </div>
		</div>
		<div class="mb-3">
			<label for="confirmPassword" class="form-label">Powtórz hasło</label>
			<div class="input-group">
				<input type="{{ showConfirmPassword ? 'text' : 'password' }}" class="form-control" id="confirmPassword" formControlName="confirmPassword" (blur)="toggleConfirmPasswordVisibility(false)" />
				<button type="button" class="btn btn-outline-secondary" (click)="toggleConfirmPasswordVisibility(!showConfirmPassword)">
					<i class="bi" [class.bi-eye]="showConfirmPassword" [class.bi-eye-slash]="!showConfirmPassword"></i>
				</button>
			</div>
			<div *ngIf="
          registrationForm.get('confirmPassword')?.hasError('required') &&
          registrationForm.get('confirmPassword')?.touched
        " class="text-danger"> Powtórzenie hasła jest wymagane </div>
			<div *ngIf="
          registrationForm.hasError('mismatch') &&
          registrationForm.get('confirmPassword')?.touched
        " class="text-danger"> Hasła muszą być identyczne </div>
		</div>
		<button type="submit" class="btn btn-primary">Zarejestruj</button>
	</form>
</div>