<!-- wycieczki.component.html -->

<div [ngStyle]="{'background-color': sumarycznaIloscZarezerwowanych > 10 ? 'green' : 'red'}" class="sumaryczna-ilość">
  Sumaryczna ilość zarezerwowanych miejsc: {{ sumarycznaIloscZarezerwowanych }}
</div>

<div class="waluty">
  <button (click)="zmienWalute('PLN')">PLN</button>
  <button (click)="zmienWalute('USD')">USD (1 USD = 4.0358 PLN)</button>
  <button (click)="zmienWalute('EUR')">EUR (1 EUR = 4.3934 PLN)</button>
</div>

<div *ngFor="let wycieczka of wycieczki" class="wycieczka-container" [ngClass]="{'najtansza': wycieczka === najtanszaWycieczka, 'najdrozsza': wycieczka === najdrozszaWycieczka}">
  <div class="wycieczka-img-container">
    <img [src]="wycieczka.zdjecie" alt="{{ wycieczka.nazwa }}" class="wycieczka-img" />
  </div>
  <div class="wycieczka-info">
    <h3>{{ wycieczka.nazwa | uppercase }}</h3>
    <p>{{ wycieczka.kraj | uppercase }}</p>
    <p>Data: {{ wycieczka.dataRozpoczecia }} - {{ wycieczka.dataZakonczenia }}</p>
    <p>Cena: {{ wycieczka.cenaWaluta }}</p>
    <p>Opis: {{ wycieczka.opis }}</p>
    <p>
      Dostępne miejsca: {{ wycieczka.dostepneMiejsca }} /
      {{ wycieczka.maxIloscMiejsc }}
    </p>
    <button *ngIf="!shouldHideButton(wycieczka)" 
            (click)="zarezerwujMiejsce(wycieczka)" 
            [ngStyle]="getButtonStyle(wycieczka)">
      Zarezerwuj miejsce
    </button>
    <button *ngIf="wycieczka.dostepneMiejsca < wycieczka.maxIloscMiejsc" 
            (click)="anulujRezerwacje(wycieczka)">
      Anuluj rezerwację
    </button>
    <p *ngIf="wycieczka.dostepneMiejsca === 0">
      Brak dostępnych miejsc na tej wycieczce.
    </p>
    <p *ngIf="wycieczka.dostepneMiejsca === wycieczka.maxIloscMiejsc">
      Nikt jeszcze nie zarezerwował miejsca. Bądź pierwszy!
    </p>
    <button (click)="usunWycieczke(wycieczka)">Usuń</button>
  </div>
</div>

<app-wycieczka-dodaj (dodajWycieczke)="dodajNowaWycieczke($event)"></app-wycieczka-dodaj>
