.onsite-reservation-wrapper {
  display: inline-flex;
  align-items: center;
}

.reservation-button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;

  align-self: center;
  justify-self: flex-end;
  cursor: pointer;

  color: #eee;
  background-color: rgb(68, 68, 68);
  border-radius: 3px;
  margin-left: 10px;
}

.reservation-button:hover {
  background-color: rgb(94, 94, 94);
}