/* .centered {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  main {
    margin: 8em 2em; /* 3/5em if sticky */
    /* min-height:80vh
  }
  nav {
    position: fixed;
    -webkit-backface-visibility: hidden;
    backface-visibility:hidden;
    width:100%;
    top: 0;
    left:0;
    z-index: 1;
    height: auto;
  }
  
  .fbody{
    min-height:100vh;
    display:flex; 
    flex-direction:column; 
  }
   */
.centered{
    width:100%;
    display:flex;
    justify-content: center;
}

main{
    background-color: rgb(210, 253, 255);;
    border-radius:10px;
    color:rgb(0, 0, 0);
    min-width:300px;
    max-width:1000px;
    margin: 3em 2em;
    padding:1em;
}
nav{
    position:sticky;
    top:0;
}
/* app.component.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-cart {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
