.cart-cost {
  color: black;
  min-width: 60px;
  background-color: white;
  border-radius: 8px;
  border: 1pt black solid;
  margin-bottom: 0px;
  padding: 8px;
}

.trip-name {
  cursor: pointer;
}

.trip-name:hover {
  color: rgb(173, 173, 173);
}

.trip-item {
  margin-bottom: 10px;
}

.trip-name-wrapper {
  display: inline-flex;
  align-items: center;
}

.trip-name {
  margin-left: 10px;
  margin-bottom: 0px;
}

.sum-trip-cost {
  margin-left: 20px;
  color: rgb(114, 114, 114);
}

.form-check-input {
  margin-top: 0px;
}

.cart-summary {
  display: inline-flex;
  align-items: center;
}