<div class="onsite-reservation-wrapper">
	<div *ngIf="freeSpots() > 0; else noSpots" [ngStyle]="freeSpots() > 4 ? { color: 'black' } : { color: 'blue' }"> Jest {{ freeSpots() }} wolnych miejsc. </div>
	<ng-template #noSpots>
		<div style="color: red">Nie ma już wolnych miejsc! Przepraszamy.</div>
	</ng-template>
	<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus reservation-button" viewBox="0 0 16 16" (click)="addReservation()" *ngIf="freeSpots() > 0">
		<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dash reservation-button" viewBox="0 0 16 16" (click)="removeReservation()" *ngIf="getReservedSpotsCount() > 0">
		<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
	</svg>
</div>